In [227]:
import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()
pd.set_option('display.max_columns',0)
pd.set_option('display.max_colwidth',0)
match_lvl_data = pd.read_csv(r"C:\Users\Chitwan\Downloads\match_level_scorecard.csv")
batsman_lvl_data = pd.read_csv(r"C:\Users\Chitwan\Downloads\batsman_level_scorecard.csv")
bowler_lvl_data = pd.read_csv(r"C:\Users\Chitwan\Downloads\bowler_level_scorecard.csv")
train_data = pd.read_csv(r"C:\Users\Chitwan\Downloads\train_data_with_samplefeatures.csv")
test_data = pd.read_csv(r"C:\Users\Chitwan\Downloads\test_data_with_samplefeatures.csv")

# Batsman_Analysis

In [228]:
import pandasql as psql
query = """
SELECT batsman ,batsman_id,COUNT(inning) as total_innings, SUM(runs) as total_runs ,SUM(balls_faced) as total_balls
FROM batsman_lvl_data
GROUP BY batsman_id
"""
# Execute the SQL query
result = psql.sqldf(query, locals())

result['strike_rate'] = (result['total_runs'] * 100) / result['total_balls']
result['average_run_per_inning'] = result['total_runs'] / result['total_innings']
bat_csv = result
bat_csv

     batsman  batsman_id  total_innings  total_runs  total_balls  strike_rate  average_run_per_inning
0     DG Be   31464.0     3              10          18           55.555556    3.333333
1     DT Cn   34061.0     54             678         505          134.257426   12.555556
2     CJ Fn   36665.0     10             208         171          121.637427   20.800000
3     AJ Fh   37351.0     62             1590        1298         122.496148   25.645161
4     MC Hs   41740.0     44             1011        788          128.299492   22.977273
...     ...       ...     ..              ...        ...                 ...         ...
2113  Sv Dy   9822322.0   1              0           1            0.000000     0.000000
2114  PR Vr   9822392.0   1              0           1            0.000000     0.000000
2115  J Be    9822413.0   1              2           4            50.000000    2.000000
2116  BJ Js   9874052.0   1              42          20           210.000000   42.000000
2117  T Si    9883250.0   1              11          5            220.000000   11.000000

[2118 rows x 7 columns]

In [229]:
# Calculate percentiles using np.percentile
percentile_40_innings = np.percentile(bat_csv['total_innings'], 40)
percentile_70_strike_rate = np.percentile(bat_csv['strike_rate'], 70)
percentile_60_average_run = np.percentile(bat_csv['average_run_per_inning'], 60)

# Create a new column 'rank' with initial value 0
bat_csv['rank'] = 0

# Set the value of 'rank' to 1 where the conditions are met
bat_csv.loc[(bat_csv['total_innings'] > percentile_40_innings) & 
            (bat_csv['strike_rate'] > percentile_70_strike_rate) & 
            (bat_csv['average_run_per_inning'] > percentile_60_average_run), 'rank'] = 1

# Count the number of rows where 'rank' equals 1
rank_count = bat_csv['rank'].sum()
print(rank_count)
bat_csv

349

     batsman  batsman_id  total_innings  total_runs  total_balls  strike_rate  average_run_per_inning  rank
0     DG Be   31464.0     3              10          18           55.555556    3.333333                0
1     DT Cn   34061.0     54             678         505          134.257426   12.555556               0
2     CJ Fn   36665.0     10             208         171          121.637427   20.800000               0
3     AJ Fh   37351.0     62             1590        1298         122.496148   25.645161               0
4     MC Hs   41740.0     44             1011        788          128.299492   22.977273               1
...     ...       ...     ..              ...        ...                 ...         ...              ..
2113  Sv Dy   9822322.0   1              0           1            0.000000     0.000000                0
2114  PR Vr   9822392.0   1              0           1            0.000000     0.000000                0
2115  J Be    9822413.0   1              2           4            50.000000    2.000000                0
2116  BJ Js   9874052.0   1              42          20           210.000000   42.000000               0
2117  T Si    9883250.0   1              11          5            220.000000   11.000000               0

[2118 rows x 8 columns]

# Bowler_Analysis

In [230]:
query = """
SELECT bowler ,bowler_id,COUNT(inning) as total_innings, SUM(runs) as total_runs ,SUM(balls_bowled) as total_balls, SUM(wicket_count) as total_wicket
FROM bowler_lvl_data
GROUP BY bowler_id
"""
# Execute the SQL query
result = psql.sqldf(query, locals())

result['economy'] = (result['total_runs']) / result['total_balls']*6
result['average'] = (result['total_runs']) / result['total_wicket']
result['strike_rate_bow'] = (result['total_balls']) / result['total_wicket']
bow_csv = result
mean_value = bow_csv['average'][~np.isinf(bow_csv['average'])].mean()
bow_csv['average'] = bow_csv['average'].replace([np.inf, -np.inf], mean_value)
mean_value = bow_csv['strike_rate_bow'][~np.isinf(bow_csv['strike_rate_bow'])].mean()
bow_csv['strike_rate_bow'] = bow_csv['strike_rate_bow'].replace([np.inf, -np.inf], mean_value)
bow_csv

     bowler  bowler_id  total_innings  total_runs  total_balls  total_wicket    economy    average  strike_rate_bow
0     DT Cn  34061.0    49             983         665          29            8.869173   33.896552  22.931034
1     AJ Fh  37351.0    1              10          6            0             10.000000  30.012755  22.069157
2     MC Hs  41740.0    11             92          96           5             5.750000   18.400000  19.200000
3     SJ Oe  49496.0    26             632         582          31            6.515464   20.387097  18.774194
4     PM Se  55299.0    43             1249        873          57            8.584192   21.912281  15.315789
...     ...      ...    ..              ...        ...          ..                 ...         ...        ...
1536  PR Vr  9822392.0  1              7           18           3             2.333333   2.333333   6.000000
1537  J Be   9822413.0  1              28          24           0             7.000000   30.012755  22.069157
1538  PS Pa  9822420.0  1              11          6            0             11.000000  30.012755  22.069157
1539  K Ta   9822441.0  2              74          47           2             9.446809   37.000000  23.500000
1540  NS Pa  9888584.0  1              23          12           1             11.500000  23.000000  12.000000

[1541 rows x 9 columns]

In [231]:
# Calculate percentiles using np.percentile
percentile_30_innings = np.percentile(bow_csv['total_balls'], 30)
percentile_25_strike_rate = np.percentile(bow_csv['strike_rate_bow'], 40)
percentile_40_economy = np.percentile(bow_csv['economy'], 50)

# Create a new column 'rank' with initial value 0
bow_csv['rank'] = 0

# Set the value of 'rank' to 1 where the conditions are met
bow_csv.loc[(bow_csv['total_balls'] > percentile_30_innings) & 
            (bow_csv['strike_rate_bow'] < percentile_25_strike_rate) & 
            (bow_csv['economy'] < percentile_40_economy), 'rank'] = 1

# Count the number of rows where 'rank' equals 1
rank_count = bow_csv['rank'].sum()
print(rank_count)
bow_csv

249

     bowler  bowler_id  total_innings  total_runs  ...    economy    average  strike_rate_bow  rank
0     DT Cn  34061.0    49             983         ...  8.869173   33.896552  22.931034        0
1     AJ Fh  37351.0    1              10          ...  10.000000  30.012755  22.069157        0
2     MC Hs  41740.0    11             92          ...  5.750000   18.400000  19.200000        0
3     SJ Oe  49496.0    26             632         ...  6.515464   20.387097  18.774194        0
4     PM Se  55299.0    43             1249        ...  8.584192   21.912281  15.315789        0
...     ...      ...    ..              ...        ...       ...         ...        ...       ..
1536  PR Vr  9822392.0  1              7           ...  2.333333   2.333333   6.000000         0
1537  J Be   9822413.0  1              28          ...  7.000000   30.012755  22.069157        0
1538  PS Pa  9822420.0  1              11          ...  11.000000  30.012755  22.069157        0
1539  K Ta   9822441.0  2              74          ...  9.446809   37.000000  23.500000        0
1540  NS Pa  9888584.0  1              23          ...  11.500000  23.000000  12.000000        0

[1541 rows x 10 columns]

# Match_data_Analysis

In [232]:
match_lvl_data

      match id  team1     team2  ...     series_type winner_id  player_of_the_match_id
0     8638034   Nn Ds  Wn        ...  other_domestic  18570    NaN
1     8588005   Me Rs  Sy Tr     ...  other_domestic  33963     1749075.0
2     8587837   Sy Ss  Be Ht     ...  other_domestic  33921     3890984.0
3     8638041   Nn Ds  Oo        ...  other_domestic  18360    NaN
4     8587921   Ht Hs  Me Ss     ...  other_domestic  33928     3125849.0
...       ...     ...    ...     ...             ...    ...           ...
1684  9128601   Pb Ks  Ci Sr Ks  ...  In Pr Le        30407     197658.0
1685  9433241   Mx     St        ...  other_domestic  9701     NaN
1686  9097227   Bd     Wn Pe     ...  other_domestic  23869     323049.0
1687  9516695   Rn Rs  Ss Hd     ...  In Pr Le        36014     5764576.0
1688  9433633   He     Ge        ...  other_domestic  7608     NaN

[1689 rows x 30 columns]

In [233]:
# Get the unique ground IDs
unique_ground_ids = match_lvl_data['ground_id'].unique()

# Initialize an empty list to store win probabilities
win_probabilities = []

# Loop over each unique ground ID
for ground_id in unique_ground_ids:
    # Filter the DataFrame for matches played on the current ground
    matches_on_ground = match_lvl_data[match_lvl_data['ground_id'] == ground_id]
    
    # Count the number of matches where team batting first won
    batting_first_wins = matches_on_ground[(matches_on_ground['by'] == 'runs')] 

    # Calculate the total number of matches played on the ground
    total_matches = len(matches_on_ground)

    # Calculate win probability
    win_probability = len(batting_first_wins) / total_matches 
    
    # Append the win probability to the list
    win_probabilities.append(win_probability)

                                            
win_probabilities_array = np.array(win_probabilities)
# Print the list of win probabilities
win_df = pd.DataFrame({'ground_id': unique_ground_ids, 'win_probability': win_probabilities})
win_df

     ground_id  win_probability
0    17681      0.333333
1    6663       0.333333
2    1476       0.600000
3    6348       0.533333
4    5081       0.545455
..    ...            ...
146  13453      0.000000
147  7475       1.000000
148  16806      0.000000
149  17632      0.000000
150  14265      1.000000

[151 rows x 2 columns]

In [235]:
# Get the unique ground IDs
unique_ground_ids = match_lvl_data['team1_id'].unique()

# Initialize an empty list to store win probabilities
win_probabilities = []

# Loop over each unique ground ID
for team1_id in unique_ground_ids:
    # Filter the DataFrame for matches played on the current ground
    matches_on_ground = match_lvl_data[match_lvl_data['team1_id'] == team1_id]
    
    # Count the number of matches where team batting first won
    batting_first_wins = matches_on_ground[(matches_on_ground['by'] == 'runs')] 

    # Calculate the total number of matches played on the ground
    total_matches = len(matches_on_ground)

    # Calculate win probability
    win_probability = len(batting_first_wins) / total_matches 
    
    # Append the win probability to the list
    win_probabilities.append(win_probability)

                                            
win_probabilities_array = np.array(win_probabilities)
# Print the list of win probabilities
win_df_team = pd.DataFrame({'team1_id': unique_ground_ids, 'win_probability11': win_probabilities})
win_df_team

     team1_id  win_probability11
0    17982     0.400000
1    33942     0.461538
2    33956     0.722222
3    33928     0.533333
4    17583     0.500000
..     ...          ...
162  49650     0.250000
163  132       0.000000
164  237       0.500000
165  1490      0.333333
166  279       0.000000

[167 rows x 2 columns]

# Train_data_analysis

In [236]:
# Split the 'team1_roster_ids' column by ':' and expand into separate columns
df = train_data['team1_roster_ids'].str.split(':', expand=True)

# Rename the columns (optional)
df.columns = [f'player_{i+1}' for i in range(df.shape[1])]

train_data = pd.concat([train_data, df], axis=1)

# Drop the 'team1_roster_ids' column from the original train_data DataFrame
train_data = train_data.drop(columns=['team1_roster_ids'])

# Split the 'team1_roster_ids' column by ':' and expand into separate columns
df = train_data['team2_roster_ids'].str.split(':', expand=True)

# Rename the columns (optional)
df.columns = [f'player2_{i+1}' for i in range(df.shape[1])]

train_data = pd.concat([train_data, df], axis=1)

# Drop the 'team1_roster_ids' column from the original train_data DataFrame
train_data = train_data.drop(columns=['team2_roster_ids'])

train_data = train_data.drop(columns=['player_12', 'player2_12'])
pd.set_option('display.max_columns',0)
pd.set_option('display.max_colwidth',0)
# Print the resulting DataFrame
train_data

     match id     team1  team1_id     team2  team2_id  ...  player2_7  player2_8  player2_9 player2_10 player2_11
0    9331181   Ba        11283     Hl Ph     12634     ...  6844718.0  4566526.0  6596582.0  4161975.0  7952804.0
1    8797060   Ed        20        Wt Is     41        ...  4739552.0  5744850.0  4690104.0  3715697.0  3468870.0
2    9433269   We        10576     Ne        8987      ...  125915.0   130437.0   7507303.0  4420828.0  5652828.0
3    9587073   Ga An Ws  36084     Bs Rs     36070     ...  3575774.0  3200756.0  334963.0   6399210.0  6347494.0
4    9516457   Pb Ks     30407     Gt Ts     48341     ...  5554254.0  4690230.0  3373285.0  3759846.0  6496482.0
..       ...     ...       ...       ...       ...     ...        ...        ...        ...        ...        ...
943  9128601   Pb Ks     30407     Ci Sr Ks  30414     ...  196580.0   2294823.0  360086.0   7879829.0  7968225.0
944  9433241   Mx        8700      St        9701      ...  5288226.0  3252395.0  334963.0   2850868.0  55299.0
945  9097227   Bd        22497     Wn Pe     23869     ...  1858961.0  6640164.0  2659502.0  4159658.0  4239493.0
946  9516695   Rn Rs     30428     Ss Hd     36014     ...  8228408.0  4874820.0  8766603.0  7570107.0  2282125.0
947  9433633   He        7727      Ge        7608      ...  6341796.0  3578742.0  1707628.0  2538983.0  2437091.0

[948 rows x 44 columns]

# Creating_star_players_column_in_train_data

In [237]:
# List of column names
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Iterate through the rows of the DataFrame
for j in range(len(train_data)):
    count1 = 0
    count2 = 0
    
    for col in column_names_team1:
        x = train_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['rank'].iloc[0]
            count1 += corresponding_value
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['rank'].iloc[0]
            count1 += corresponding_value
    
    for col in column_names_team2:
        x = train_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['rank'].iloc[0]
            count2 += corresponding_value
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['rank'].iloc[0]
            count2 += corresponding_value
    
    # Calculate the difference and assign to 'star_players' column
    train_data.at[j, 'star_players'] = count1 - count2

# Count the number of rows where 'star_players' > 2 or 'star_players' < -2
count = ((train_data['star_players'] > 2) | (train_data['star_players'] < -2)).sum()

# Print the count
print("Number of rows where 'star_players' > 2 or 'star_players' < -2:", count)

Number of rows where 'star_players' > 2 or 'star_players' < -2: 305

# Creating_average_average(Batsman) in train_data

In [238]:
# List of column names
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Iterate through the rows of the DataFrame
for j in range(len(train_data)):
    count1 = 0
    count2 = 0
    number1=0
    number2=0 
    for col in column_names_team1:
        x = train_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty and (filtered_df['total_balls'].gt(10).any()):
            corresponding_value = filtered_df['average_run_per_inning'].iloc[0]
            count1 += corresponding_value
            number1 += 1
    
    for col in column_names_team2:
        x = train_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty and (filtered_df['total_balls'].gt(10).any()):
            corresponding_value = filtered_df['average_run_per_inning'].iloc[0]
            count2 += corresponding_value
            number2 += 1
    
    # Calculate the difference and assign to 'star_players' column
    train_data.at[j, 'average_average'] = (count1/number1) - (count2/number2)

# Creating_average_strike_rate (Batsman) in train_data

In [239]:
# List of column names
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Iterate through the rows of the DataFrame
for j in range(len(train_data)):
    count1 = 0
    count2 = 0
    number1=0
    number2=0 
    for col in column_names_team1:
        x = train_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            if filtered_df['total_balls'].iloc[0]> 10:
                corresponding_value = filtered_df['strike_rate'].iloc[0]
                count1 += corresponding_value
                number1 += 1
    
    for col in column_names_team2:
        x = train_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            if filtered_df['total_balls'].iloc[0]> 10:
                corresponding_value = filtered_df['strike_rate'].iloc[0]
                count2 += corresponding_value
                number2 += 1
    
    # Calculate the difference and assign to 'star_players' column
    train_data.at[j, 'average_strike_rate'] = (count1/number1) - ( count2/number2)

# Creating_average_economy (Bowler) in train_data

In [240]:
# List of column names
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Ensure 'average_economy' column exists in train_data
train_data['average_economy'] = None

# Iterate through the rows of the DataFrame
for j in range(len(train_data)):
    count1 = 0
    count2 = 0
    number1 = 0
    number2 = 0
    
    for col in column_names_team1:
        x = train_data[col].iloc[j]
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            if filtered_df['total_balls'].iloc[0]> 10:
                corresponding_value = filtered_df['economy'].iloc[0]
                count1 += corresponding_value
                number1 += 1
    
    for col in column_names_team2:
        x = train_data[col].iloc[j]
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            if filtered_df['total_balls'].iloc[0]> 10:
                corresponding_value = filtered_df['economy'].iloc[0]
                count2 += corresponding_value
                number2 += 1
    
    if number1 == 0:
        average_economy_team1 = 1
    else:
        average_economy_team1 = count1 / number1
    
    if number2 == 0:
        average_economy_team2 = -1
    else:
        average_economy_team2 = count2 / number2
    
    # Calculate the difference and assign to 'average_economy' column
    train_data.at[j, 'average_economy'] = average_economy_team1 - average_economy_team2

# Creating_average_bowler_average (Bowler) in train_data

In [241]:
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Ensure 'average_economy' column exists in train_data
train_data['average_bowler_average'] = None

# Iterate through the rows of the DataFrame
for j in range(len(train_data)):
    count1 = 0
    count2 = 0
    number1 = 0
    number2 = 0
    
    for col in column_names_team1:
        x = train_data[col].iloc[j]
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            if filtered_df['total_balls'].iloc[0]> 10:
                corresponding_value = filtered_df['average'].iloc[0]
                count1 += corresponding_value
                number1 += 1
    
    for col in column_names_team2:
        x = train_data[col].iloc[j]
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            if filtered_df['total_balls'].iloc[0]> 10:
                corresponding_value = filtered_df['average'].iloc[0]
                count2 += corresponding_value
                number2 += 1
    
    if number1 == 0:
        average_bowler_average_team1 = 10
    else:
        average_bowler_average_team1 = count1 / number1
    
    if number2 == 0:
        average_bowler_average_team2 = -10
    else:
        average_bowler_average_team2 = count2 / number2
    
    # Calculate the difference and assign to 'average_economy' column
    train_data.at[j, 'average_bowler_average'] = average_bowler_average_team1 - average_bowler_average_team2

# Creating total_innings (players) in train_data

In [242]:
# List of column names
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Iterate through the rows of the DataFrame
for j in range(len(train_data)):
    count1 = 0
    count2 = 0
    
    for col in column_names_team1:
        x = train_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['total_innings'].iloc[0]
            count1 += corresponding_value
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['total_innings'].iloc[0]
            count1 += corresponding_value
    
    for col in column_names_team2:
        x = train_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['total_innings'].iloc[0]
            count2 += corresponding_value
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['total_innings'].iloc[0]
            count2 += corresponding_value
    
    # Calculate the difference and assign to 'star_players' column
    train_data.at[j, 'total_innings_diff'] = count1 - count2
    
    train_data

In [243]:
train_data['toss_win'] = train_data.apply(lambda row: 1 if row['team1'] == row['toss winner'] else 0, axis=1)
train_data

     match id     team1  team1_id     team2  ...  average_economy average_bowler_average  total_innings_diff  toss_win
0    9331181   Ba        11283     Hl Ph     ... -0.450542         27.716635              129.0               0
1    8797060   Ed        20        Wt Is     ... -0.511835        -3.045311               147.0               0
2    9433269   We        10576     Ne        ... -0.119164        -2.464579              -256.0               0
3    9587073   Ga An Ws  36084     Bs Rs     ...  0.055254        -1.999591              -176.0               1
4    9516457   Pb Ks     30407     Gt Ts     ...  0.117038        -1.510439              -115.0               0
..       ...     ...       ...       ...     ...       ...              ...                 ...              ..
943  9128601   Pb Ks     30407     Ci Sr Ks  ...  0.096289         0.92542               -21.0                0
944  9433241   Mx        8700      St        ...  1.71305          5.000097              -422.0               0
945  9097227   Bd        22497     Wn Pe     ...  0.041308        -2.539882              -160.0               1
946  9516695   Rn Rs     30428     Ss Hd     ...  0.089891         2.70233               -128.0               1
947  9433633   He        7727      Ge        ... -2.149258        -3.609263               513.0               0

[948 rows x 51 columns]

# Ground_Id

In [244]:
# Merge train_data with win_df based on 'ground_id'
merged_data = pd.merge(train_data, win_df, on='ground_id', how='left')

# Fill missing win probabilities with a default value (e.g., 0) if any
merged_data['win_probability'].fillna(0, inplace=True)

# Print the merged DataFrame to verify the changes
train_data = merged_data
train_data

     match id     team1  team1_id     team2  ...  average_bowler_average total_innings_diff  toss_win  win_probability
0    9331181   Ba        11283     Hl Ph     ...  27.716635               129.0              0         0.500000
1    8797060   Ed        20        Wt Is     ... -3.045311                147.0              0         0.636364
2    9433269   We        10576     Ne        ... -2.464579               -256.0              0         0.586207
3    9587073   Ga An Ws  36084     Bs Rs     ... -1.999591               -176.0              1         0.555556
4    9516457   Pb Ks     30407     Gt Ts     ... -1.510439               -115.0              0         0.333333
..       ...     ...       ...       ...     ...       ...                  ...             ..              ...
943  9128601   Pb Ks     30407     Ci Sr Ks  ...  0.92542                -21.0               0         0.358974
944  9433241   Mx        8700      St        ...  5.000097               -422.0              0         0.631579
945  9097227   Bd        22497     Wn Pe     ... -2.539882               -160.0              1         0.416667
946  9516695   Rn Rs     30428     Ss Hd     ...  2.70233                -128.0              1         0.411765
947  9433633   He        7727      Ge        ... -3.609263                513.0              0         0.400000

[948 rows x 52 columns]

In [245]:
# Merge train_data with win_df based on 'ground_id'
merged_data = pd.merge(train_data, win_df_team, on='team1_id', how='left')

# Fill missing win probabilities with a default value (e.g., 0) if any
merged_data['win_probability11'].fillna(0, inplace=True)

# Print the merged DataFrame to verify the changes
train_data = merged_data
train_data

     match id     team1  team1_id     team2  ...  total_innings_diff toss_win  win_probability  win_probability11
0    9331181   Ba        11283     Hl Ph     ...  129.0               0        0.500000         0.500000
1    8797060   Ed        20        Wt Is     ...  147.0               0        0.636364         0.619048
2    9433269   We        10576     Ne        ... -256.0               0        0.586207         0.461538
3    9587073   Ga An Ws  36084     Bs Rs     ... -176.0               1        0.555556         0.642857
4    9516457   Pb Ks     30407     Gt Ts     ... -115.0               0        0.333333         0.409091
..       ...     ...       ...       ...     ...    ...              ..             ...              ...
943  9128601   Pb Ks     30407     Ci Sr Ks  ... -21.0                0        0.358974         0.409091
944  9433241   Mx        8700      St        ... -422.0               0        0.631579         0.300000
945  9097227   Bd        22497     Wn Pe     ... -160.0               1        0.416667         0.666667
946  9516695   Rn Rs     30428     Ss Hd     ... -128.0               1        0.411765         0.473684
947  9433633   He        7727      Ge        ...  513.0               0        0.400000         0.608696

[948 rows x 53 columns]

In [247]:
train_data['team1only_avg_runs_last15']=train_data['team1only_avg_runs_last15']/100

In [248]:
train_data['ground_avg_runs_last15']=train_data['ground_avg_runs_last15']/100
train_data

     match id     team1  team1_id     team2  ...  toss_win win_probability  win_probability11  win_probability2
0    9331181   Ba        11283     Hl Ph     ...  0         0.500000        0.500000           1.000000
1    8797060   Ed        20        Wt Is     ...  0         0.636364        0.619048           0.458333
2    9433269   We        10576     Ne        ...  0         0.586207        0.461538           0.470588
3    9587073   Ga An Ws  36084     Bs Rs     ...  1         0.555556        0.642857           0.461538
4    9516457   Pb Ks     30407     Gt Ts     ...  0         0.333333        0.409091           0.666667
..       ...     ...       ...       ...     ... ..              ...             ...                ...
943  9128601   Pb Ks     30407     Ci Sr Ks  ...  0         0.358974        0.409091           0.692308
944  9433241   Mx        8700      St        ...  0         0.631579        0.300000           0.636364
945  9097227   Bd        22497     Wn Pe     ...  1         0.416667        0.666667           0.800000
946  9516695   Rn Rs     30428     Ss Hd     ...  1         0.411765        0.473684           0.318182
947  9433633   He        7727      Ge        ...  0         0.400000        0.608696           0.357143

[948 rows x 54 columns]

# Selection of particular columns for training using Xgbooster

In [278]:
# List of columns to keep
columns_to_keep = ['winner.1', 'team_count_50runs_last15','team_winp_last5','team1only_avg_runs_last15','team1_winp_team2_last15','star_players','average_average','average_economy','average_bowler_average','average_strike_rate','total_innings_diff','toss_win','win_probability','win_probability11']
# Create a new DataFrame with only the specified columns
new_df = train_data[columns_to_keep]


new_df['average_economy'] = pd.to_numeric(new_df['average_economy'], errors='coerce')
new_df['average_bowler_average'] = pd.to_numeric(new_df['average_bowler_average'], errors='coerce')
new_df['average_economy'].fillna(0, inplace=True)
new_df['average_bowler_average'].fillna(0, inplace=True)

new_df

C:\Users\Chitwan\AppData\Local\Temp\ipykernel_3200\3027784794.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['average_economy'] = pd.to_numeric(new_df['average_economy'], errors='coerce')
C:\Users\Chitwan\AppData\Local\Temp\ipykernel_3200\3027784794.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['average_bowler_average'] = pd.to_numeric(new_df['average_bowler_average'], errors='coerce')
C:\Users\Chitwan\AppData\Local\Temp\ipykernel_3200\3027784794.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['average_economy'].fillna(0, inplace=True)
C:\Users\Chitwan\AppData\Local\Temp\ipykernel_3200\3027784794.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['average_bowler_average'].fillna(0, inplace=True)

     winner.1  team_count_50runs_last15  team_winp_last5  ...  toss_win  win_probability  win_probability11
0    0         1.666667                  0.672131         ...  0         0.500000         0.500000
1    1         1.285714                  1.952381         ...  0         0.636364         0.619048
2    1         0.857143                  0.672131         ...  0         0.586207         0.461538
3    1         2.166667                  1.975610         ...  1         0.555556         0.642857
4    0         0.818182                  1.327869         ...  0         0.333333         0.409091
..  ..              ...                       ...         ... ..              ...              ...
943  1         0.823529                  1.000000         ...  0         0.358974         0.409091
944  0         1.571429                  0.012346         ...  0         0.631579         0.300000
945  0         3.000000                  1.000000         ...  1         0.416667         0.666667
946  0         0.789474                  1.487805         ...  1         0.411765         0.473684
947  0         4.000000                  1.975610         ...  0         0.400000         0.608696

[948 rows x 14 columns]

# Training of new_df using Xgbooster

In [279]:
# from sklearn.model_selection import train_test_split
# import xgboost as xgb
# from sklearn.metrics import accuracy_score
# X = new_df.drop('winner.1', axis=1)
# y = new_df['winner.1']

# # Split data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [280]:
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier, Pool
from sklearn.metrics import accuracy_score

# Split the data
X = new_df.drop('winner.1', axis=1)
y = new_df['winner.1']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create Pools for CatBoost
train_pool = Pool(X_train, y_train)
test_pool = Pool(X_test, y_test)

# Set parameters for CatBoost
params = {
    'iterations':100,
    'depth': 3,
    'learning_rate': 0.001,
    'loss_function': 'Logloss',  # Binary classification
    'eval_metric': 'Accuracy'
}

# Train the model
model = CatBoostClassifier(**params)
model.fit(train_pool, eval_set=test_pool, verbose=False)

# Predict
y_pred = model.predict(X_test)
y_pred_prob = model.predict_proba(X_test)[:, 1]
y_pred_binary = [1 if x > 0.5 else 0 for x in y_pred_prob]

# Calculate the accuracy
accuracy = accuracy_score(y_test, y_pred_binary)
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 0.7105

In [281]:
y_pred_binary = np.array(y_pred_binary)
y_pred_binary.shape

(190,)

In [282]:
accuracy = accuracy_score(y_test, y_pred_binary)
print(f'Accuracy: {accuracy * 100:.2f}%')

Accuracy: 71.05%

# Test_data analysis

In [254]:
# Split the 'team1_roster_ids' column by ':' and expand into separate columns
df = test_data['team1_roster_ids'].str.split(':', expand=True)

# Rename the columns (optional)
df.columns = [f'player_{i+1}' for i in range(df.shape[1])]

test_data = pd.concat([test_data, df], axis=1)

# Drop the 'team1_roster_ids' column from the original test_data DataFrame
test_data = test_data.drop(columns=['team1_roster_ids'])

# Split the 'team2_roster_ids' column by ':' and expand into separate columns
df = test_data['team2_roster_ids'].str.split(':', expand=True)

# Rename the columns (optional)
df.columns = [f'player2_{i+1}' for i in range(df.shape[1])]

test_data = pd.concat([test_data, df], axis=1)

# Drop the 'team2_roster_ids' column from the original test_data DataFrame
test_data = test_data.drop(columns=['team2_roster_ids'])

test_data = test_data.drop(columns=['player_12', 'player2_12','player2_13'])
pd.set_option('display.max_columns', 0)
pd.set_option('display.max_colwidth', 0)
# Print the resulting DataFrame
test_data

     match id     team1  team1_id        team2  team2_id  ...  player2_7  player2_8  player2_9 player2_10 player2_11
0    9250275   Jy        28594     Ud Ss of Aa  90        ...  2721480.0  1632819.0  2789604.0  6489846.0  1565507.0
1    9262189   Ga An Ws  36084     Ja Ts        36098     ...  181404.0   1594319.0  5509524.0  4239794.0  2036649.0
2    9128776   Rn Rs     30428     Lw Sr Gs     48334     ...  2740408.0  3865077.0  7924048.0  4859490.0  8228100.0
3    9586919   Ja Ts     36098     St La Ks     36112     ...  7459647.0  8464343.0  4690230.0  8339701.0  4702774.0
4    9128538   Ci Sr Ks  30414     Gt Ts        48341     ...  5554254.0  4690230.0  3456424.0  3373285.0  8118053.0
..       ...        ...    ...       ...          ...     ...        ...        ...        ...        ...        ...
266  9094371   Ln St     46773     Wh Fe        46752     ...  4170186.0  5436878.0  3913475.0  2538983.0  2904943.0
267  9440500   Si La     69        Ia           55        ...  3882850.0  7558949.0  8725709.0  3011735.0  7881845.0
268  9085173   Sx        9967      Gn           7573      ...  8035894.0  3998070.0  2633196.0  3212278.0  7664957.0
269  8887752   Sy Tr     33963     Me Rs        33942     ...  7537067.0  1905847.0  1906708.0  7620297.0  4985546.0
270  9272472   Ht Hs     33928     Me Rs        33942     ...  3715697.0  7537067.0  4393402.0  6818776.0  5459572.0

[271 rows x 41 columns]

# Creating star player column in test_data

In [255]:
# List of column names
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Iterate through the rows of the DataFrame
for j in range(len(test_data)):
    count1 = 0
    count2 = 0
    
    for col in column_names_team1:
        x = test_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['rank'].iloc[0]
            count1 += corresponding_value
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['rank'].iloc[0]
            count1 += corresponding_value
    
    for col in column_names_team2:
        x = test_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['rank'].iloc[0]
            count2 += corresponding_value
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['rank'].iloc[0]
            count2 += corresponding_value
    
    # Calculate the difference and assign to 'star_players' column
    test_data.at[j, 'star_players'] = count1 - count2

# Creating average_average column in test_data

In [256]:
# List of column names
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Iterate through the rows of the DataFrame
for j in range(len(test_data)):
    count1 = 0
    count2 = 0
    number1 = 0
    number2 = 0
    
    for col in column_names_team1:
        x = test_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['average_run_per_inning'].iloc[0]
            count1 += corresponding_value
            number1 += 1
    
    for col in column_names_team2:
        x = test_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['average_run_per_inning'].iloc[0]
            count2 += corresponding_value
            number2 += 1
    
    # Calculate the difference and assign to 'average_average' column
    if number1 != 0 and number2 != 0:  # Check for division by zero
        test_data.at[j, 'average_average'] = (count1 / number1) - (count2 / number2)
    else:
        test_data.at[j, 'average_average'] = float('NaN')

# Creating strike_rate column in test_data

In [257]:
# List of column names
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Iterate through the rows of the DataFrame
for j in range(len(test_data)):
    count1 = 0
    count2 = 0
    number1 = 0
    number2 = 0
    
    for col in column_names_team1:
        x = test_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty and filtered_df['total_balls'].iloc[0] > 10:
            corresponding_value = filtered_df['strike_rate'].iloc[0]
            count1 += corresponding_value
            number1 += 1
    
    for col in column_names_team2:
        x = test_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty and filtered_df['total_balls'].iloc[0] > 10:
            corresponding_value = filtered_df['strike_rate'].iloc[0]
            count2 += corresponding_value
            number2 += 1
    
    # Calculate the difference and assign to 'average_strike_rate' column
    if number1 != 0 and number2 != 0:  # Check for division by zero
        test_data.at[j, 'average_strike_rate'] = (count1 / number1) - (count2 / number2)
    else:
        test_data.at[j, 'average_strike_rate'] = float('NaN')

# Creating average_economy in test_data

In [258]:
# List of column names
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Ensure 'average_economy' column exists in train_data
test_data['average_economy'] = None

# Iterate through the rows of the DataFrame
for j in range(len(test_data)):
    count1 = 0
    count2 = 0
    number1 = 0
    number2 = 0
    
    for col in column_names_team1:
        x = test_data[col].iloc[j]
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['economy'].iloc[0]
            count1 += corresponding_value
            number1 += 1
    
    for col in column_names_team2:
        x = test_data[col].iloc[j]
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['economy'].iloc[0]
            count2 += corresponding_value
            number2 += 1
    
    if number1 == 0:
        average_economy_team1 = 1
    else:
        average_economy_team1 = count1 / number1
    
    if number2 == 0:
        average_economy_team2 = -1
    else:
        average_economy_team2 = count2 / number2
    
    # Calculate the difference and assign to 'average_economy' column
    test_data.at[j, 'average_economy'] = average_economy_team1 - average_economy_team2

# Creating average_bowler_average column in test_data

In [259]:
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Ensure 'average_economy' column exists in train_data
test_data['average_bowler_average'] = None

# Iterate through the rows of the DataFrame
for j in range(len(test_data)):
    count1 = 0
    count2 = 0
    number1 = 0
    number2 = 0
    
    for col in column_names_team1:
        x = test_data[col].iloc[j]
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['average'].iloc[0]
            count1 += corresponding_value
            number1 += 1
    
    for col in column_names_team2:
        x = test_data[col].iloc[j]
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['average'].iloc[0]
            count2 += corresponding_value
            number2 += 1
    
    if number1 == 0:
        average_bowler_average_team1 = 10
    else:
        average_bowler_average_team1 = count1 / number1
    
    if number2 == 0:
        average_bowler_average_team2 = -10
    else:
        average_bowler_average_team2 = count2 / number2
    
    # Calculate the difference and assign to 'average_economy' column
    test_data.at[j, 'average_bowler_average'] = average_bowler_average_team1 - average_bowler_average_team2

# Creating total_innings (players) in test_data

In [260]:
# List of column names
column_names_team1 = ['player_' + str(i) for i in range(1, 12)]
column_names_team2 = ['player2_' + str(i) for i in range(1, 12)]

# Iterate through the rows of the DataFrame
for j in range(len(test_data)):
    count1 = 0
    count2 = 0
    
    for col in column_names_team1:
        x = test_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['total_innings'].iloc[0]
            count1 += corresponding_value
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['total_innings'].iloc[0]
            count1 += corresponding_value
    
    for col in column_names_team2:
        x = test_data[col].iloc[j]
        
        # Filter the bat_csv DataFrame
        filtered_df = bat_csv[bat_csv['batsman_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['total_innings'].iloc[0]
            count2 += corresponding_value
        
        # Filter the bow_csv DataFrame
        filtered_df = bow_csv[bow_csv['bowler_id'] == float(x)]
        if not filtered_df.empty:
            corresponding_value = filtered_df['total_innings'].iloc[0]
            count2 += corresponding_value
    
    # Calculate the difference and assign to 'star_players' column
    test_data.at[j, 'total_innings_diff'] = count1 - count2
    
    test_data

# Ground_id

In [261]:
# Merge train_data with win_df based on 'ground_id'
merged_data = pd.merge(test_data, win_df, on='ground_id', how='left')

# Fill missing win probabilities with a default value (e.g., 0) if any
merged_data['win_probability'].fillna(0, inplace=True)

# Print the merged DataFrame to verify the changes
test_data = merged_data
test_data

     match id     team1  team1_id  ... average_bowler_average  total_innings_diff win_probability
0    9250275   Jy        28594     ... -4.542612              -65.0                0.250000
1    9262189   Ga An Ws  36084     ... -5.857851              -129.0               0.615385
2    9128776   Rn Rs     30428     ...  0.296011               7.0                 0.583333
3    9586919   Ja Ts     36098     ... -0.927014               45.0                0.615385
4    9128538   Ci Sr Ks  30414     ... -2.635788               68.0                0.800000
..       ...        ...    ...     ...       ...                ...                     ...
266  9094371   Ln St     46773     ... -4.856342               82.0                0.736842
267  9440500   Si La     69        ...  1.3118                -189.0               0.800000
268  9085173   Sx        9967      ... -17.152282              370.0               0.600000
269  8887752   Sy Tr     33963     ...  2.056932               182.0               0.526316
270  9272472   Ht Hs     33928     ...  6.268509               190.0               0.533333

[271 rows x 48 columns]

In [262]:
# Merge train_data with win_df based on 'ground_id'
merged_data = pd.merge(test_data, win_df_team, on='team1_id', how='left')

# Fill missing win probabilities with a default value (e.g., 0) if any
merged_data['win_probability11'].fillna(0, inplace=True)

# Print the merged DataFrame to verify the changes
test_data = merged_data
test_data

     match id     team1  team1_id  ... total_innings_diff  win_probability win_probability11
0    9250275   Jy        28594     ... -65.0               0.250000         0.000000
1    9262189   Ga An Ws  36084     ... -129.0              0.615385         0.642857
2    9128776   Rn Rs     30428     ...  7.0                0.583333         0.473684
3    9586919   Ja Ts     36098     ...  45.0               0.615385         0.533333
4    9128538   Ci Sr Ks  30414     ...  68.0               0.800000         0.521739
..       ...        ...    ...     ...   ...                    ...              ...
266  9094371   Ln St     46773     ...  82.0               0.736842         0.416667
267  9440500   Si La     69        ... -189.0              0.800000         0.238095
268  9085173   Sx        9967      ...  370.0              0.600000         0.375000
269  8887752   Sy Tr     33963     ...  182.0              0.526316         0.388889
270  9272472   Ht Hs     33928     ...  190.0              0.533333         0.533333

[271 rows x 49 columns]

In [283]:
test_data['toss_win'] = test_data.apply(lambda row: 1 if row['team1'] == row['toss winner'] else 0, axis=1)
# List of columns to keep
columns_to_keep = ['team_count_50runs_last15','team_winp_last5','team1only_avg_runs_last15','team1_winp_team2_last15','star_players','average_average','average_economy','average_bowler_average','average_strike_rate','total_innings_diff','toss_win','win_probability','win_probability11']
# Create a new DataFrame with only the specified columns
test_df = test_data[columns_to_keep]

test_df['average_economy'] = pd.to_numeric(test_df['average_economy'], errors='coerce')
test_df['average_bowler_average'] = pd.to_numeric(test_df['average_bowler_average'], errors='coerce')
test_df

C:\Users\Chitwan\AppData\Local\Temp\ipykernel_3200\2960563383.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['average_economy'] = pd.to_numeric(test_df['average_economy'], errors='coerce')
C:\Users\Chitwan\AppData\Local\Temp\ipykernel_3200\2960563383.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['average_bowler_average'] = pd.to_numeric(test_df['average_bowler_average'], errors='coerce')

     team_count_50runs_last15  team_winp_last5  team1only_avg_runs_last15  ...  toss_win  win_probability  win_probability11
0    0.000000                  0.019608        NaN                         ...  0         0.250000         0.000000
1    0.615385                  0.344262         151.285714                 ...  0         0.615385         0.642857
2    0.842105                  0.753086         171.066667                 ...  1         0.583333         0.473684
3    0.285714                  1.487805         166.000000                 ...  0         0.615385         0.533333
4    2.375000                  0.310330         169.933333                 ...  0         0.800000         0.521739
..        ...                       ...                ...                 ... ..              ...              ...
266  0.916667                  2.904762         144.545455                 ...  0         0.736842         0.416667
267  0.714286                  1.000000         159.066667                 ...  0         0.800000         0.238095
268  1.888889                  2.904762         174.400000                 ...  0         0.600000         0.375000
269  0.333333                  1.487805         171.066667                 ...  0         0.526316         0.388889
270  0.454545                  0.512195         178.533333                 ...  1         0.533333         0.533333

[271 rows x 13 columns]

In [284]:
# Assuming model is already trained and test_df is your new data DataFrame

# Predict the outcomes
y_pred_new = model.predict(test_df)
y_pred_prob_new = model.predict_proba(test_df)[:, 1]
y_pred_binary_new = [1 if x > 0.5 else 0 for x in y_pred_prob_new]
max_values = [max(x, 1 - x) for x in y_pred_prob_new]

print(y_pred_binary_new)

[0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0]

In [285]:
merged_data = pd.read_csv(r"C:\Users\Chitwan\Downloads\merged_data (1).csv")

# Compare the combined predictions with the actual winner column
matches = sum(y_pred_binary_new== merged_data['winner'])

print(f"Number of times combined prediction is equal to winner column: {matches}")

Number of times combined prediction is equal to winner column: 174

In [77]:
max_values

[0.5164145321287024,
 0.5139088176914571,
 0.5006957552718476,
 0.5018385673736702,
 0.5067748162143619,
 0.5048120210011873,
 0.5115332896293768,
 0.5184803590171034,
 0.5077418463203296,
 0.5034482770494357,
 0.506300515370346,
 0.5159892958003935,
 0.5047364598890731,
 0.504956064339254,
 0.5092942792658683,
 0.5001154648264649,
 0.5054803278119909,
 0.5010676043765953,
 0.5189538745264798,
 0.5021801623933669,
 0.507087269155335,
 0.5139088176914571,
 0.5072939423556209,
 0.5147308207312891,
 0.512956895995182,
 0.5115332896293768,
 0.5210250092782204,
 0.5158272886956826,
 0.5181774784327534,
 0.5159892958003935,
 0.5006076143245489,
 0.5080559238750156,
 0.5091095896871326,
 0.5060293088351457,
 0.5151286394087092,
 0.5190863163075329,
 0.5061303806834961,
 0.5038926323337208,
 0.5039411653785283,
 0.5088516441456153,
 0.5052061740307716,
 0.5025894098834098,
 0.505120489809909,
 0.5136165596526308,
 0.5085738071560154,
 0.5111004467322007,
 0.5149067031637884,
 0.5166363888884181,
 0.5020261551787113,
 0.5101153678791546,
 0.5022281995003907,
 0.5067150663694043,
 0.5108701099050945,
 0.5092453631324798,
 0.515730565804883,
 0.5034879889720142,
 0.5112900884325177,
 0.5057339732775615,
 0.5026857681265053,
 0.5046258957963405,
 0.5100692955171559,
 0.5012164307893847,
 0.5073752654341678,
 0.5091976292101916,
 0.5032466061192404,
 0.5077418463203296,
 0.5073752654341678,
 0.5090746725763754,
 0.5040356511874007,
 0.5065042628583429,
 0.5067748162143619,
 0.513854432296841,
 0.5079909141937887,
 0.51073362048852,
 0.5141994035219011,
 0.502613217193294,
 0.5026675807850574,
 0.5042932312470191,
 0.506300515370346,
 0.5075843852175586,
 0.5008265346988293,
 0.5012267237757004,
 0.5035328647942406,
 0.5171075236276375,
 0.5091095896871326,
 0.5066574444368049,
 0.5018796690161622,
 0.5077418463203296,
 0.5091095896871326,
 0.5031088464857214,
 0.5061656245636151,
 0.5047328880085047,
 0.5009743642993534,
 0.5196616740159512,
 0.5050325234191545,
 0.5144477656001679,
 0.5130833969585519,
 0.5084117211832484,
 0.5117308903155012,
 0.5092453631324798,
 0.5007833867010256,
 0.5068994141589216,
 0.5057517088236823,
 0.5038714403823461,
 0.5047328880085047,
 0.5082705716812613,
 0.5025600089703843,
 0.502959410292044,
 0.5064884373074411,
 0.5028439510691208,
 0.5181774784327534,
 0.5167972244831803,
 0.5018138885396162,
 0.5022193994521048,
 0.5009730679350273,
 0.5073534610617981,
 0.5160555398326393,
 0.5117301522224607,
 0.5160674559639749,
 0.5179127168215365,
 0.5084976567445048,
 0.5136684665290303,
 0.5136684665290303,
 0.512468912058076,
 0.5064884373074411,
 0.5125224006959823,
 0.5113212656666858,
 0.5107070986458105,
 0.520530599045812,
 0.5078666880343868,
 0.5029279487461782,
 0.5076604636378385,
 0.5052061740307716,
 0.5050136814998956,
 0.508955483793838,
 0.500321642113252,
 0.5080241305447025,
 0.5175974799393603,
 0.5089965415613176,
 0.5083322930042138,
 0.5204002133213781,
 0.5165186887667671,
 0.5125858190129762,
 0.5128826886091035,
 0.502882540601416,
 0.5190863163075329,
 0.5129639213756715,
 0.5034482770494357,
 0.508772690700149,
 0.505451683540028,
 0.514219501932969,
 0.5029132606020448,
 0.5094703170143503,
 0.5022281995003907,
 0.5130344324847915,
 0.5144642381522518,
 0.50442728915938,
 0.5113346578922875,
 0.5076295025419489,
 0.5077418463203296,
 0.5018796690161622,
 0.5138786805202786,
 0.5076266763016475,
 0.5000863367133326,
 0.5026675807850574,
 0.5142155077010594,
 0.5160674559639749,
 0.5016141605449193,
 0.503160142516341,
 0.5107246595901923,
 0.515583068751365,
 0.5128934265025349,
 0.5094323102002374,
 0.5025297968912652,
 0.5108161235244308,
 0.5073752654341678,
 0.5155344677881436,
 0.5118045974045353,
 0.5134332252468482,
 0.5003938637755088,
 0.500307667397432,
 0.5124538658189206,
 0.5075277930737672,
 0.5008265346988293,
 0.5034482770494357,
 0.5120620738645163,
 0.5030382141730855,
 0.5160877964210527,
 0.510779511793323,
 0.5126549013319066,
 0.505120489809909,
 0.5100168154973197,
 0.50442728915938,
 0.5105487021963747,
 0.5175714402722946,
 0.5103617716590911,
 0.5101112377871635,
 0.5187818759059233,
 0.5181774784327534,
 0.507115326073032,
 0.5013074812093232,
 0.516359628051985,
 0.5066025825823118,
 0.5133100900457258,
 0.5163858787677573,
 0.5181774784327534,
 0.506300515370346,
 0.5047585204233644,
 0.5077418463203296,
 0.5149779183189066,
 0.5037025678082537,
 0.5063755144698298,
 0.5010331364925549,
 0.5136684665290303,
 0.5146581622210875,
 0.5081448039234582,
 0.5102743872854523,
 0.5068338848006206,
 0.500624855153888,
 0.5189644266572,
 0.5065540340512908,
 0.5073999022746719,
 0.5088516441456153,
 0.5054803278119909,
 0.5070429877335083,
 0.5097560483477964,
 0.509387290194352,
 0.5181774784327534,
 0.504398081583213,
 0.5075125028916977,
 0.5010787938827617,
 0.5064137200067159,
 0.5158398470374446,
 0.5038924031781502,
 0.5131815608704553,
 0.5131667575020596,
 0.5145490087280495,
 0.5108827660189196,
 0.502872677037797,
 0.5008388957943195,
 0.5039857424655596,
 0.5010110358524794,
 0.5033105181446305,
 0.5158798540555194,
 0.5166531828732908,
 0.5104086501382312,
 0.5190863163075329,
 0.5000124630184525,
 0.5024710563718789,
 0.5035300914314995,
 0.5143550606143357,
 0.5039840472223782,
 0.5010139401092054,
 0.5088516441456153,
 0.5085738071560154,
 0.5018164661857047,
 0.5022652208978075,
 0.502622359691822,
 0.5061909930100293,
 0.505120489809909,
 0.5133100900457258,
 0.5181774784327534,
 0.5013601659641511,
 0.5048019516068083,
 0.5093117206934851,
 0.5076246453710423,
 0.5050717738765631,
 0.5089723696377102,
 0.5011707539376433,
 0.5101741409780125,
 0.5044124948968014]

In [78]:
from collections import Counter
count_result = Counter(y_pred_binary_new)
count_result

Counter({0: 152, 1: 119})

In [80]:
import pandas as pd

# Assuming test_data contains the data as described
# Assuming y_pred_binary_new is the vector of predictions

# Create an empty list to store the team IDs of the predicted winners
q_team_ids = []

# Iterate through the rows of test_data
for index, row in test_data.iterrows():
    if y_pred_binary_new[index] == 1:
        # If the prediction is 1, add team1_id to q_team_ids
        q_team_ids.append(row['team1_id'])
    else:
        # If the prediction is 0, add team2_id to q_team_ids
        q_team_ids.append(row['team2_id'])

# Convert q_team_ids to a numpy array if needed
q_team_ids = np.array(q_team_ids)

# Now you have the team IDs corresponding to the predictions in y_pred_binary_new
csv_file_path = "sub23.csv"

# Save the NumPy array to a CSV file
np.savetxt(csv_file_path, q_team_ids, delimiter=",", fmt='%d')

In [ ]:
csv_file_path = "sub6_probability.csv"

# Save the NumPy array to a CSV file
np.savetxt(csv_file_path, max_values , delimiter=",", fmt='%f')